<head>
	<title>E register</title>
	<link rel="icon" href="media/logo_transparant.png">
</head>

<div class="rectangle"></div>
<div class="triangle"></div>

<div class="navbar">
	<h2>
		<a href='index.php?controller=student&action=home'>Welkom</a> &nbsp;
		<a href='index.php?controller=student&action=aanwezigheid'>Aanwezigheid</a> &nbsp;
		<a href='index.php?controller=student&action=instellingen'>Instellingen</a> &nbsp;
		<a href='index.php?controller=student&action=uitloggen'>Uitloggen</a>
	</h2>
</div>

<a href="https://www.windesheim.nl/" target="_blank"><img src="media/naam_logo.jpg" class="right" height="40"></a>

<div class="footer"></div>
<div class="footer_text">
	<p>&copy; 2018 - Project 3 - Team 4 - E register</p>
</div>